<!DOCTYPE html>
<html>
<head>
  <title>NsegGolf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @uid %>
<div class="navbar">
  <%= link_to('Profile', edit_user_path(@user)) %>
  <%= link_to('Logout', session_path(999), :method=>:delete) %>
</div>
<% end %>

<div class="message">
  <%= flash[:error] %>
</div>

<%= yield %>

</body>
</html>
